{% extends 'base.html.twig' %}

{% block title %}Lista de séries{% endblock %}

{% block body %}

{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">    
            {{ message }}
        </div>
    {% endfor %}    
{% endfor %}
    

    <a href="{{ path('app_series_form') }}" class="btn btn-dark mb-3">Adicionar</a>
    <ul class="list-group"> 
        {% for serie in seriesList %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ serie.name }} 
                <div class="d-flex justify-content-between align-items-center">
                    <a class="btn btn-primary me-2" href="{{ path('app_series_updateForm', {serie: serie.id}) }}">Editar</a>
                    <form method="post" action="{{ path('app_series_removeSerie', {serie: serie.id}) }}" >
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Exluir</button>
                    </form>
                </div>
                
            </li>
        {% endfor %}    
     </ul>
{% endblock %}
